﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/dist/**/*.min.css" 
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <link href="~/css/add-styles.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>

<body>
    <main>
        <div class="banner">
            <div class="container banner_container">
                <header class="header">
                    <div class="logo">
                        <img src="~/img/logo.png" alt="logo" class="logo">
                    </div>

                    <nav class="nav_list">
                        <img src="~/img/close.png" alt="" class="close">
                        <ul id="menu">
                            <li class="nav_item"><a asp-controller="Home" asp-action="Index">На главную &#8594;</a></li>
                            @*<li class="nav_item"><a asp-controller="Home" asp-action="Index">Дизайн</a></li>
                            <li class="nav_item"><a asp-controller="Home" asp-action="Index">Ассортимент</a></li>
                            <li class="nav_item"><a asp-controller="Home" asp-action="Index">Оплата и доставка</a></li>
                            <li class="nav_item"><a asp-controller="Home" asp-action="Index">Отзывы</a></li>
                            <li class="nav_item"><a asp-controller="Home" asp-action="Index">Контакты</a></li>*@
                        </ul>
                    </nav>

                    <img src="~/img/hamburger.png" alt="" class="hamburger">

                </header>

            </div>
        </div>
        @RenderBody()
    </main>


    <footer class="footer" id="contacts">
        <div class="container footer_container">
            <div class="footer_info">
                <div class="footer_contacts">
                    <ul class="text footer_address">
                        <li class="footer_item">Харьков, ул. Пушкинская 13</li>
                        <li class="footer_item">Киев, проспект Свободы 45</li>
                        <li class="footer_item">Полтава, ул. Мирная 2</li>
                        <li class="footer_item">+ 380 (66) 649 74 25</li>
                        <li class="footer_item">coffeestep@gmail.com</li>
                    </ul>

                    <div class="footer_social">
                        <a href=""><img src="~/img/instagram.png" alt="" class="social_item"></a>
                        <a href=""><img src="~/img/facebook.png" alt="" class="social_item"></a>
                        <a href=""><img src="~/img/telegram.png" alt="" class="social_item"></a>
                    </div>
                </div>


                <p class="text footer_time">
                    Время работы
                    ПН - ПТ 11:00 - 23:00
                    СБ - ВС 11:00 - 21:00
                </p>
            </div>

            <img src="~/img/map.jpg" alt="" class="footer_img">
        </div>
    </footer>

</body>

</html>