﻿@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap');
}
.comment_button {
    background-color: #73533B;
    padding: 12px 25px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-size: 23px;
}

.comment_button:hover {
    background-color: #E5680D;
}

.comment_button:active {
    background-color: #D05800;
}

.margin-slider {
    margin-top: 20px;
}