@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap');

$white: #fff;
$brown: #73533B;
$black: #2B0505;
$beige: #F7F6F3;
$dark_brown: #4A2B13;

$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

.text {
    font-family: $roboto;
    font-size: 16px;
    color: $black;
}

.heading {
    font-family: $montserrat;
    font-size: 40px;
    line-height: 47px;
    color: $black;
}

.button {
    background-color: $brown;
    padding: 12px 25px;
    font-family: $montserrat;
    color: $white;
    border-radius: 10px;
    text-decoration: none;
    font-size: 23px;
}

.button:hover {
    background-color: #E5680D;
}

.button:active {
    background-color: #D05800;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.banner {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.54) 0%, rgba(71, 71, 71, 0.31) 51.04%, rgba(138, 138, 138, 0) 100%), url('../img/banner_bg.jpg') no-repeat;
    background-size: 100%;
}

.banner_container {
    padding: 21px 0 190px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 93px;
}


.close {
    display: none;
}

.nav_list ul{
    display: flex;
}

.nav_item {
    list-style-type: none;
    margin-left: 55px;
    font-family: $montserrat;
    font-size: 18px;
}

.nav_item a {
    text-decoration: none;
    color: $white;
}

.nav_item:first-child {
    margin-left: 0;
}

.hamburger {
    display: none;
}

.banner_content {
    margin-top: 185px;
    color: $white;
    font-family: $montserrat;
    max-width: 545px;
}


.banner_heading {
    font-size: 70px;
    margin-bottom: 40px;
}

.banner_text {
    font-size: 23px;
    line-height: 130%;
    margin-bottom: 55px;
}

.about {
    padding: 55px 0;
    background: url('../img/about_bg.png') no-repeat;
    background-size: 100%;
}

.about_heading {
    margin-bottom: 35px;
}

.about_content {
    display: flex;
}

.about_info {
    margin-left: 35px;
}

.about_content_heading {
    font-family: $montserrat;
    font-size: 30px;
    line-height: 37px;
    color: $brown;
    margin-bottom: 20px;
}

.about_text {
    font-size: 18px;
    line-height: 168.69%;
}

.design {
    background-color: $beige;
    padding: 25px 0 110px;
}

.design_heading {
    margin-bottom: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(1fr, 3);
    grid-template-rows: repeat(1fr, 2);
}

.gallery_item:first-child {
    grid-column: 1;
    grid-row: 1;
}

.gallery_item:nth-child(4) {
    grid-column: 1;
    grid-row: 2;
    align-self: end;
}

.gallery_item:nth-child(3) {
    grid-column: 2;
    grid-row: 1/3;
}

.gallery_item:nth-child(2) {
    grid-column: 3;
    grid-row: 1;
}

.gallery_item:last-child{
    grid-column: 3;
    grid-row: 2;
    align-self: end;
}

.products {
    background: url('../img/products_bg.png') no-repeat;
    background-size: 100%;
}

.products_container {
    padding: 55px 0;
}

.products_heading {
    margin-bottom: 55px;
}

.products_cards_container {
    display: flex;
    justify-content: space-between;
}

.product_card {
    filter: drop-shadow(0px 0px 18px rgba(0, 0, 0, 0.25));
    border-radius: 7px;
    padding: 40px 18px 30px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 265px;
}

.product_img {
    margin-bottom: 30px;
}

.product_card_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.payment {
    background-color: $beige;
}

.payment_container {
    padding: 40px 0 60px;
}

.payment_heading {
    margin-bottom: 40px;
}

.payment_process {
    display: flex;
    justify-content: space-between;
}

.process_card {
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 300px;
    padding: 20px;
}

.process_heading {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 10px;
}

.comments {
    background: url('../img/products_bg.png') no-repeat;
    background-size: 100%;
    padding: 55px 0;
    position: relative;
}

.comments_heading {
    margin-bottom: 35px;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    width: 270px;
    height: 340px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 7px;
    filter: drop-shadow(0px 0px 18px rgba(0, 0, 0, 0.25));
}

.swiper_img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.swiper_heading {
    font-size: 19px;
    line-height: 23px;
    margin-bottom: 10px;
}

.swiper_comment {
    width: 235px;
}

.swiper-navigation {
    position: absolute;
    top: 50%;
    left: calc((100% - 1400px) / 2);
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin: 0 auto;
}

.swiper-navigation button {
    background: none;
    border: 0;
    font-size: 50px;
    color: $black;
}

.swiper-button-prev, .swiper-button-next {
    color: $black;
}


.order {
    background-color: $beige;
    padding: 50px 0;
}

.order_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.order_form {
    padding: 55px 65px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 425px;
    border-radius: 0 7px 7px 0;
}

.order_form_heading {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 40px;
    font-weight: 400;
}

.order_input {
    border: 1px solid $brown;
    border-radius: 7px;
    padding: 15px;
    width: 312px;
    
    margin-bottom: 25px;
}

.order_input::placeholder {
    color: $black;
}

.order_button {
    margin-top: 10px;
    border: 0;
}

.footer {
    background-color: $dark_brown;
    padding: 40px;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_info {
    display: flex;
}

.footer_address {
    color: $white;
    margin-bottom: 20px;
}

.social_item {
    margin-right: 30px;
}

.footer_item {
    list-style-type: none;
    margin-bottom: 10px;
}

.footer_time {
    width: 163px;
    color: $white;
    margin-left: 55px;
    line-height: 24px;
}

.footer_img {
    border-radius: 7px;
}


@media (max-width: 1439px) {
    .text {
        font-size: 14px;
    }
    
    .heading {
        font-size: 30px;
        line-height: 36px;
    }
    
    .button {
        font-size: 18px;
    }
    
    .container {
        max-width: 350px;
    }

    .banner {
        background-size: 400%;
        background-position: 70% 0;
    }
    
    .banner_container {
        padding: 21px 0 130px;
    }
    
    .logo {
        height: 50px;
    }

    .nav_list {
        display: none;
    }
    
    .nav_list.active {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $brown;
        
        padding: 100px 50px 0;
    }

    .nav_list.active ul {
        flex-direction: column;
    }

    .nav_item {
        margin: 0 0 25px;
        font-size: 32px;
    }

    .hamburger {
        display: block;
    }

    .close {
        display: none;
    }

    .close.active {
        display: block;
        position: absolute;
        top: 25px;
        right: 25px;
    }
    
    .banner_content {
        margin-top: 135px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
    .banner_heading {
        font-size: 60px;
        line-height: 68px;
        text-align: center;
    }
    
    .banner_text {
        font-size: 16px;
        line-height: 130%;
        margin-bottom: 55px;
    }

    .about {
        padding: 55px 0;
        background-repeat: repeat-y;
    }
    
    
    .about_content {
        display: flex;
        flex-direction: column;
    }
    
    .about_info {
        margin-left: 0;
    }
    
    .about_content_heading {
        font-size: 24px;
        line-height: 26px;
        text-align: center;
    }

    .about_img {
        width: 100%;
        order: 3;
    }
    
    .about_text {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .design {
        padding-bottom: 50px;
    }

    .gallery {
        display: block;
    }

    .gallery_item {
        width: 100%;
        margin-bottom: 20px;
    }

    .products {
        background-repeat: repeat-y;
    }

    .products_container {
        padding: 40px 0;
    }

    .products_heading {
        margin-bottom: 25px;
    }

    .products_cards_container {
        flex-direction: column;
        align-items: center;
    }

    .product_card {
        margin-bottom: 20px;
        padding: 20px 15px 25px;
        width: 245px;
    }

    .payment_process {
        flex-direction: column;
        align-items: center;
    }

    .process_card {
        margin-bottom: 20px;
    }

    .process_card:last-child {
        margin-bottom: 0;
    }

    .process_heading {
        font-size: 16px;
    }

    .comments {
        background-repeat: repeat-y;
    }

    .swiper-navigation {
        display: none;
    }

    .order {
        padding: 20px 0;
    }

    .order_container {
        flex-direction: column;
    }

    .orger_img {
        width: 100%;
        border-radius: 0 7px 7px 7px;
    }

    .order_form {
        padding: 30px;
        width: 100%;
        order: -1;
        border-radius: 7px 7px 0 0;
        height: 320px;
    }

    .order_form_heading {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 25px;
    }

    .order_input {
        width: 290;
    }

    .footer_info {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .footer_img {
        display: none;
    }

    .footer_time {
        display: none;
    }
}