﻿@{
    ViewData["Title"] = "Add Comment";
    Layout = "~/Views/_Layout.cshtml";
}
@model Comment

<section class="order" id="order">
    <div class="container order_container">
        <img src="~/img/order_bg.jpg" alt="" class="orger_img">
        <form asp-controller="Comment" asp-action="Add" method="post" class="order_form">
            <h3 class="text order_form_heading">Оставить комментарий</h3>

            <input asp-for="Name" type="text" placeholder="Имя" class="text order_input">
            <input asp-for="Phone" type="number" placeholder="Номер телефона" class="text order_input">
            <input asp-for="Text" type="text" placeholder="Комментарий" class="text order_input" />
            <input class="comment_button" type="submit" value="Оставить комментарий">
        </form>
    </div>
</section>