﻿@{
    ViewData["Title"] = "Complete!!!";
    Layout = "~/Views/_Layout.cshtml";
}

<section class="order" id="order">
    <div class="container order_container">
        <img src="~/img/order_bg.jpg" alt="" class="orger_img">
        <div class="container"><p class="text banner_text">Ваш комментарий был успешно сохранен!!!</p></div>
    </div>
</section>